SELECT [name]
      ,[id]
      ,[description]
      ,[createdate]
      ,[folderid]
      ,[ownersid]
      ,[packagedata]
      ,[packageformat]
      ,[packagetype]
      ,[vermajor]
      ,[verminor]
      ,[verbuild]
      ,[vercomments]
      ,[verid]
      ,[isencrypted]
      ,[readrolesid]
      ,[writerolesid]
  FROM [msdb].[dbo].[sysdtspackages90]